import Vue from 'vue'
import 'amfe-flexible'
import fastClick from 'fastclick'

import Vant from 'vant'
import 'vant/lib/index.css'

${config.router ? "import router from './router'" : ""}
${config.store ? "import store from '../../store'" : ""}

// 300ms延迟
fastClick.attach(document.body);
Vue.use(Vant);

Vue.config.productionTip = false
new Vue({
    ${config.router ? "router," : ""}
    ${config.store ? "store," : ""}
    render: h => h(App)
}).$mount('#app')
